
<h2>Mi pagina web by Jaider</h2>

<p>!!!Hola, este es mi primer proyecto angular!!!</p>


<p class="nerko">Este párrafo usa una tipografia importada  :0</p>

<ul class="brand-links">
  <li><a href="https://www.google.com" target="_blank" rel="noopener">Google</a></li>
  <li><a href="https://www.wikipedia.org" target="_blank" rel="noopener">Wikipedia</a></li>
  <li><a href="https://www.github.com" target="_blank" rel="noopener">GitHub</a></li>
</ul>


<table class="brand-table">
  <tr>
    <th>Productos</th>
    <th>Existencias</th>
    <th>Valor</th>
  </tr>
  <tr>
    <td>Iphone</td>
    <td>10</td>
    <td>$ 2.000.000</td>
  </tr>
  <tr>
    <td>Mouse</td>
    <td>100</td>
    <td>$ 50.000</td>
  </tr>
  <tr>
    <td>PC Gamer</td>
    <td>2</td>
    <td>$ 3.000.000</td>
  </tr>
</table>

<router-outlet />
